body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid > div {
  margin: 0px 10px 0 10px;
  box-shadow: 5px 5px 10px rgba(154, 145, 145, 0.5);
  text-align: center;
  padding: 0 30px;
}

main {
  padding: 16px;
}

a:hover {
  color:#722800;
  text-shadow: 1px 2px rgba(136, 34, 14, 0.5);
}

footer {
  padding: 24px 40px;
  background-color: #025259;
  color: #F4E2DE;
  font-size: 20px
}
img {
  height: 200px;
}
nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #F29325;
}
a{
  text-decoration: none;
  transition: 1s;
  color: #F4E2DE;
}

tr:nth-child(2n) {
  background-color:#F4E2DE;
}

.recipe-link, h1{
  color:#D94F04;
}

.recipe-link:hover{
  color:#6c361b;
}

.grid div > div {
  font-variant: small-caps;
  text-align: left;
}
ol {
  font-size: larger;
}
