body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #023237;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid > div {
  margin: 0px 10px 0 10px;
  box-shadow: 5px 5px 10px rgba(154, 145, 145, 0.5);
  text-align: center;
  padding: 0 30px;
}

main {
  padding: 16px;
}
.grid > div:hover {
  box-shadow: 10px 10px 10px rgba(154, 145, 145, 0.75);
}
a:hover {
  color:#361f13;
  text-shadow: 1px 2px rgba(136, 34, 14, 0.5);
}

footer {
  padding: 17px 40px;
  background-color: #025259;
  color: #F4E2DE;
  font-size: 20px;
  font-style: italic;
}
img {
  height: 200px;
}
nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #F29325;
}
a{
  text-decoration: none;
  transition: .5s;
  color: #F4E2DE;
}



.recipe-link, h1{
  color:#D94F04;
}

.recipe-link:hover{
  color:#c5744b;
}

.grid div > div {
  font-variant: small-caps;
  text-align: left;
}
ol {
  border: 3px solid #53959a;
  border-radius: 10px;
  font-size: larger;
  box-shadow: 5px 5px 5px rgba(145, 151, 154, 0.5);
  width: 750px
}
li {
  margin: 10px;
}
td, table {
  border: 3px solid #d9cbc8;
  padding: 5px;
}
td, tr {
  border-collapse: collapse;
}

table {
  border-radius: 10px;
  box-shadow:5px 5px 5px rgba(154, 145, 145, 0.5);
}

tr:nth-child(even) {
  background-color:#F4E2DE;
}
